li {
    list-style: none;
    background-color: #fffa;
}

li.card-panel {
    border: 1px solid #5555;
    margin: 0 10px;
    margin-bottom: 15px;
    padding: 0 10px;
    max-width: 500px;
    min-height: 99%;
    border-radius: 5px;

    & p {
        text-align: center;
    }
}

h3 {
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 22px;
}

p:not(:nth-child(2)) {
    text-align: center;
}

h5 {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    & li {
        margin: 15px 0;
        padding: 0;
        max-width: 18%;
        border-radius: 5px;

        & p {
            margin: 0 auto;
            padding: 0 10px;
            min-height: 66px;
        }

        & img {
            border-radius: 5px;
            width: 100%;
        }
    }
}
