<div class="container mat-app-background">
    <div class="wrapper">
        <app-search-input (addValue)="loadFilms($event)"></app-search-input>
        <app-movie-list
            [resultsFilms]="resultsFilms$ | async"
            (checkBoxClicked)="onCheckBoxClicked($event)"
        ></app-movie-list>
        <p class="no-movies-paragraph mat-typography" *ngIf="isNoMoreResults">There are no more movies</p>
        <mat-spinner *ngIf="isLoading && !isNoMoreResults" diameter="50"></mat-spinner>
        <button
            class="load-more-button"
            *ngIf="isSearchedFilms"
            type="submit"
            mat-raised-button
            color="primary"
            (click)="LoadMoreMovies()"
            [disabled]="isLoading || isNoMoreResults"
        >
            Load more films
        </button>
    </div>
</div>
