.wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.title {
    margin: auto 0;
}

.title__link {
    text-decoration: none;
    color: #fff;
}

.navigation-menu {
    list-style: none;
}

.navigation-menu__link {
    box-sizing: border-box;
    display: inline;
}

.link {
    font-weight: 700;
    box-sizing: border-box;
    color: #fffc;
    text-decoration: none;
    padding: 1rem;
}

.active {
    color: #f00c;
}

@media screen and (max-width: 450px) {
    .wrapper {
        justify-content: center;
    }

    .title__link {
        display: none;
    }

    .link {
        font-size: 1rem;
    }
}
